.cardView-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  min-width: 150px;
  min-height: 140px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.card h3 {
  font-weight: bold;
}

.card:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 500px) {
  .cardView-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 20px;
  }
}
